serverFiles:
  prometheus.yml:
    scrape_configs:
    - job_name: 'kubernetes-service-endpoints'
      kubernetes_sd_configs:
      - role: endpoints
      relabel_configs:
      - source_labels: [__meta_kubernetes_service_name]
        target_label: job

# Expose Prometheus service via NodePort
prometheus:
  service:
    type: NodePort
    nodePort: 30090   # external port for Prometheus
    port: 80          # internal service port
    targetPort: 9090  # Prometheus container port

